<!--====== BINDUZ FOOTER 2 PART START ======-->

<footer class="binduz-er-footer-2-area">
    <div class=" container">
        <div class="row">
            <div class=" col-lg-12">
                <div class="binduz-er-footer-box">
                    <div class="row">
                        <div class=" col-lg-4">
                            <div class="binduz-er-footer-about text-center">
                                <div class="binduz-er-logo">
                                    <a href="#"><img src="/assets/images/WhatsApp Image 2023-05-03 at 13.34.23.jpeg" alt=""></a>
                                </div>
                                <!-- <p>Michael Madigan on Sunday was confronted with the reality that he lacks support from nearly a third.</p>
                                <ul>
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                    <li><a href="#"><i class="fab fa-behance"></i></a></li>
                                </ul> -->
                            </div>
                        </div>
                        <!-- <div class=" col-lg-4">
                           <div class="binduz-er-footer-gallery ml-50">
                                <div class="binduz-er-footer-title">
                                    <h4 class="binduz-er-title">Photo Showcase</h4>
                                </div>
                                <div class="binduz-er-footer-gallery-widget d-flex">
                                    <div class="binduz-er-item">
                                        <a href="#">
                                            <img src="assets/images/footer-gallery-1.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="binduz-er-item">
                                        <a href="#">
                                            <img src="assets/images/footer-gallery-2.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="binduz-er-item">
                                        <a href="#">
                                            <img src="assets/images/footer-gallery-3.jpg" alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="binduz-er-footer-gallery-widget d-flex">
                                    <div class="binduz-er-item">
                                        <a href="#">
                                            <img src="assets/images/footer-gallery-4.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="binduz-er-item">
                                        <a href="#">
                                            <img src="assets/images/footer-gallery-5.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="binduz-er-item">
                                        <a href="#">
                                            <img src="assets/images/footer-gallery-6.jpg" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <div class=" col-lg-4">
                            <div class="binduz-er-footer-navigation">
                                <div class="binduz-er-footer-title">
                                    <h3 class="binduz-er-title">Company Info</h3>
                                </div>
                                <div class="binduz-er-footer-list">
                                    <ul>
                                        <li><a routerLink="/">Home</a></li>
                                        <li><a routerLink="/news">News</a></li>
                                        <li><a routerLink="/about">About us</a></li>
                                        <li><a routerLink="/contact">Contact us</a></li>
                  
                                    </ul>
                                  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="binduz-er-footer-copyright-area binduz-er-footer-copyright-area-2">
    <div class=" container">
       <div class="binduz-er-footer-copyright-box">
            <div class="row align-items-center">
                <div class=" col-lg-6">
                    <div class="binduz-er-copyright-text">
                      <p style="position: relative;">Design and Developed By <a href="https://www.oceansofttech.net/" target="_blank">Ocean Software Technologies</a></p>

                    </div>
                </div>
            
            </div>
        </div>
    </div>
</div>  


